body {
  background: url('../Image/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  font: small-caps bold 24px/1 sans-serif;
  text-align: center;
  margin: 20px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.card {
  transition: transform 0.2s;
  background-color: #495057;
  border: none;
}

.card:hover {
  transform: scale(1.05);
}

.alert {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}
.box {
  height: 113px;
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}